<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.reroutemaps.transmogrifier"
        version   = "2.0.0">
    <name>Transmogrifier</name>

    <description>
        A conversion calculator for all your favorite units of measurement.
    </description>

    <author href="http://annasiekmeier.com" email="anna@reroutemaps.com">
        AnnaSiekmeier
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.1.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="handset" />
    <preference name="fullscreen"       value="true" />

    <icon src="icon.png" />
    
    <icon src="res/icon/icon-29.png"            gap:platform="ios"        width="29" height="29" />
	<icon src="res/icon/icon-48.png"            gap:platform="ios"        width="48" height="48" />
	<icon src="res/icon/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
	<icon src="res/icon/icon-512.png"            gap:platform="ios"        width="512" height="512" />
   
    <gap:splash src="res/screen/screen-iphone-portrait.png"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/screen-iphone-portrait-2x.png" gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/screen-ipad-portrait.png"      gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/screen-ipad-landscape.png"     gap:platform="ios"     width="1024" height="768" />
</widget>