@font-face {
    font-family: 'AmaranthRegular';
    src: url('../fonts/Amaranth-webfont.eot');
    src: url('../fonts/Amaranth-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Amaranth-webfont.woff') format('woff'),
         url('../fonts/Amaranth-webfont.ttf') format('truetype'),
         url('../fonts/Amaranth-webfont.svg#AmaranthRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmaranthBold';
    src: url('../fonts/Amaranth-Bold-webfont.eot');
    src: url('../fonts/Amaranth-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Amaranth-Bold-webfont.woff') format('woff'),
         url('../fonts/Amaranth-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Amaranth-Bold-webfont.svg#AmaranthBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
	font: 18px/27px 'AmaranthRegular', Arial, sans-serif;
}


body{
	width:100%;
	max-width:320px;
	height:480px;
	margin:auto;
	background:url(../images/Back.jpg) center no-repeat;
	/*background-size:cover;*/
}

h1{
	font-family:'AmaranthBold', Arial, sans-serif;
	font-size:30px;
	color:#faf6f0;
	line-height:75px;
	padding-top:10px;
}


header{
	background:url(../images/titleHead.png) no-repeat;
	width:100%;
	height:93px;
}

#question{
	background-image:url(../images/question.png);
	background-size:100%;
	width:6.8%; /*22px*/
	padding-top:6.8%;
	max-width:60px;
	max-height:60px;
	float:right;
	margin-right:5px;
	margin-top:5px;
	cursor:pointer;
}

section{
	width:100%;
}

h2{
	font-family:'AmaranthRegular', Arial, sans-serif;
	font-size:16px;
	color:#685E66;
	line-height:40px;
	text-align:center;
}

#selection{
	overflow:auto;
	width:93.75%;
	height:330px;
	margin:5px 3.125%;
	border: solid 1.5px #E3D4BD;
}

#CategoryList{
}

.Icon{
	background-image:url(../images/icon.jpg);
	width:60px;
	height:60px;
	float:left;
	margin-right:10px;
}

#CategoryList li{
	font-family:'AmaranthRegular', Arial, sans-serif;
	font-size:25px;
	line-height:60px;
	color:#B4D1CE;
}

#CategoryList li a{
	color:#fff;
	text-decoration:none;
}

#CategoryList li:nth-child(odd){
	background:#60a4a1;
}
#CategoryList li:nth-child(even){
	background:url(../images/table.jpg);
}

#TempIcon{
	background-image:url(../images/temp.jpg);
}
#VolIcon{
	background-image:url(../images/volume.jpg);
}


/* CATEGORY PAGE*/

.categoryHead{
	background:url(../images/catHead.png) no-repeat;
}

#tempHead{
	background:url(../images/thermo.png);
	width:57px;
	height:54px;
	float:left;
	margin:10px;
}

form{
	position:relative;
	margin:20px 3.125%;
}

input{
	display: block;
	/*clear: left;*/
	float: left;
	padding:8px 10px;
	width:123px;
	height:46px;
	background:url(../images/input.png) no-repeat;
	border-style:none;
	font-size:32px;
	font-family:'Roboto', Arial, sans-serif;
	color:#5d565c;
	margin-top:2px;
	margin-right:4.3%; /*14px*/
}
.select{
	position:absolute;
	right:0px;
	/*display:block;*/
	float:right;
	padding:10px;
	width:123px;
	height:43px;
	background:url(../images/select.png);
	font-size:25px;
	line-height:43px;
	color:#fefdfb;
}
select{
	padding:15px;
	font-size:23px;
	font-family:'Roboto', Arial, sans-serif;
}

/* ALTERNATE STYLING
.styled-select select {
	background: transparent;
	padding:12px 10px;
	width: 143px;
	font-size: 20px;
	line-height:42px;
	font-family:'Roboto', Arial, sans-serif;
	color:#fefdfb;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 63px;
	-webkit-appearance: none;
}
.styled-select {
	width: 143px;
	height: 63px;
	overflow: hidden;
	background:url(../images/select.png);
	border: none;
	font-family:'Roboto', Arial, sans-serif;
}
*/

#equals{
	background:url(../images/equal.png) no-repeat;
	width:45px;
	height:35px;
	margin:12px auto;
}

#return{
	width:42px;
	height:43px;
	margin-top:110px;
	margin-left:15px;
}
#return a{
	display:block;
	width:100%;
	height:100%;
	background:url(../images/home.png) no-repeat;
	background-size:contain;
}
	
	
/* MODAL */
#modalBox{
	display:none;
	height:300px;
	width:260px;
	position:absolute;
	z-index:9998;
	margin:3.125%;
	color:black;
	background-color:#333;
	border:0px solid #444;
	padding:20px;
	border-radius: 3px;
	box-shadow: 2px 3px 5px #111;
}

.CloseImg {
	float:right;
	margin-top:-15px;
	margin-right:-15px;
	width:25px;
	height:29px;
	cursor:pointer;
	opacity: .8;
}

.CloseImg:hover {
	opacity: 1;
}


/* MOBILE STYLES: PORTRAIT */
@media only screen and (max-width: 479px){
	
	
}

/* MOBILE STYLES: LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px){
	
	
}

/* TABLET STYLES: PORTRAIT */
@media only screen and (min-width: 768px) and (max-width: 959px){
	
	
}

/* TABLET STYLES: LANDSCAPE */
@media only screen and (min-width: 960px) and (max-width: 1024px){
	
	
}

/* DESKTOP STYLES */
@media only screen and (min-width: 1025px){
	
	
}